body {
  background-image: url("https://www.xmple.com/wallpaper/gradient-green-black-linear-3840x2160-c2-000000-32cd32-a-180-f-14.svg");
  margin: 0px;
  padding: 0px;
}

h1 {
  color: white;
  font-size: 120px;
  margin: 5px;
  margin-bottom: -60px;
}

h2 {
  color: white;
  font-size: 20px;
  font-family: "Lucida Handwriting", Cursive;
  margin-top: 50px;
 
}

p {
   color: white;
   font-size: 30px;
   font-family: arial;
   text-align: left;
   margin-left: 50px;
 
}

.block {
    display: inline-block;
    vertical-align:top;
    text-align: center; 
    color: white; 
    margin-right: 50px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
