body {
  background-image: url("https://www.xmple.com/wallpaper/gradient-green-black-linear-3840x2160-c2-000000-32cd32-a-180-f-14.svg");
}

h1 {
  color: white;
  font-size: 150px;
  font-family: "Cooperplate", Fantasy;
}

p {
  color: white;
  font-size: 50px;
  font-family: "Lucida Handwriting", Cursive;
  line-height: 0.7;
}
